/*
.team-member-card {
  width: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.team-member-image {
  width: 350px;

  height: 350px;

  border-radius: 10px;


}

.member-info {
  width: 350px;

  height: 80px;

  background: lightblue;

  border-radius: 10px;

  display: flex;
  flex-direction: column;

  justify-content: center;

  align-items: center;

}

.name-and-linkedin {
  display: flex;

  align-items: center;

}

.name-and-linkedin h3 {
  margin-right: 10px;

  display: inline;

}

.linkedin-svg-icon {
  width: 24px;

  height: 24px;
  transition: transform 0.3s ease;

}

.linkedin-svg-icon:hover {
  transform: scale(1.2);

}

.role {
  font-size: 0.9em;

  color: #555;

  margin-top: 5px;

}
*/