@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #000000;
  --secondary-text: #4b5563;
  --background-start-color: #ffffff;
  --background-end-color: #8fb8de66;
  --card-color: #f9f9f9;
  --card-hover: #d3e8f2;
  --border-color: #e0e0e0;
  --brand-gold: #f0d07d;

  --chip-gradient-from: #e6f0fc;
  --chip-gradient-via: #d3e8f2;
  --chip-gradient-to: #c2dfee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ffffff;
    --secondary-text: #9ca3af;
    --background-start-color: #121212;
    --background-end-color: #1a1a2e;
    --card-color: #171717;
    --card-hover: #2a2a3d;
    --border-color: #3c3c3c;

    --chip-gradient-from: #1e2a4a;
    --chip-gradient-via: #1a1a40;
    --chip-gradient-to: #2c2c80;

    --logo-gradient-from: #e0e0e0;
    --logo-gradient-via: #a8a8a8;
    --logo-gradient-to: #3a3a3a;
  }
}

body {
  color: var(--foreground-color);
  background: linear-gradient(to bottom,
      transparent,
      var(--background-end-color)) var(--background-start-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}